<!DOCTYPE html>
<html lang="en" ng-app="ownk">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />
    </head>
    <body ng-controller="OwnkController" ng-init="getVendedores()">

        <div class="container" ng-show="vendedores != null">
            <div class="film-info-bottom" ng-repeat="vend in vendedores">
                <h4><span> {{vend.nombres}} - {{vend.apellidos}} - {{vend.cedula}} </span></h4>
            </div>
        </div>

        <form method="POST">
            <label>Nombre: <input type="text" ng-model="nombres" /></label><br />
            <label>Apellidos: <input type="text" ng-model="apellidos" /></label><br />
            <label>Cedula: <input type="text" ng-model="cedula" /></label><br />
            <input type="submit" ng-click="addVendedor()" value="Save" />
        </form>

        <h3>{{texto}}</h3>

        <script src="./bower_components/angular/angular.js"></script>
        <script src="./bower_components/angular-resource/angular-resource.js"></script>
        <script src="./js/services.js"></script>
    </body>
</html>
